git+https://github.com/hikari-py/hikari
git+https://github.com/FasterSpeeding/Tanjun
git+https://github.com/vicky5124/lavasnek_rs
python-dotenv==0.19.1
nltk==3.6.5
steam==1.2.0
requests==2.26.0
dnspython
PyNaCl